<h1> We are INDEX </h1>


<%= link_to "Add an article", new_article_path %>

  <% @articles.each do |article| %>
    <h2> <%= article.title %> </h2>
    <p> <%= article.content %> </p>
    <%= link_to "Delete article", article_path(article), method: :delete %>
    <%= link_to "Edit article", edit_article_path(article) %>
  <% end %>
